<footer class="site-footer">
  <div class="footer-content">
    <h3>Node.js API server</h3>
    <p>Building cool things with Node.js & a bit of coffee ☕</p>
    <ul class="socials">
      <li><a href="https://github.com/c0mradich"><i class="fab fa-github"> https://github.com/c0mradich </i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 MyProject | All rights reserved.</p>
  </div>
</footer>
